body {
  margin: 0;
  box-sizing: border-box;
}

li {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  background-color: antiquewhite;
  align-items: center;
  padding: 0 5em 0 5em;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

div #spookyCat {
  height: 40px;
}

#profileImage {
  height: 30px;
}

li#account {
  padding: 5px;
  background-color: grey;
  border-radius: 100px;
  color: white;
}

li.navLink {
  padding: 10px;
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

section.hero {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div#heroLeft {
  background-color: white;
  height: 80vh;
  display: flex;
  line-height: 0.75;
}
div#heroRight {
  height: 80vh;
  background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExczY2aG5meXcyNnRtM2NpcnF0Z2c2cmFsa2lyZ3RsYnduZnZqdjIycCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NxwRDSUNzXshW/giphy.webp');
  background-size: cover;
  background-position: center;
}

h1#hero {
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 210px;
  display: flex;
  flex-wrap: wrap;
}

span#Cats {
  font-size: 350px;
}

section#meetThe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px 10em 60px 10em;
}

div.profileRow {
  justify-content: space-evenly;
  align-items: center;
}

div.profile {
  display: flex-column;
  padding: 25px;
  border-color: black;
  border-style: solid;
  margin: 16px 8px 16px 8px;
  border-radius: 10px;
}

div#profileDescription,
h2 {
  margin: 0;
}

div.imgCont {
  display: flex;
  justify-content: center;
}

div#profileDescription,
p {
  margin: 0;
}

img.catProfileImage {
  border-radius: 10000px;
  width: 200px;
}
